
body{
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #999999;
}
.container{
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 500px;
  margin-left: 3px;
  padding: 5px;
  border: lightslategray 2px solid;
  border-radius: 5px;
  background-color: #38b499;
  justify-content: center;
}
h5{
  margin: 0;
  color: rgb(255, 64, 64);
  margin-left: 10px;
}
.form-check{
  display: flex;
  flex-direction: column;
 
}
.text_input{
  display: flex;
  flex-direction: column;
  max-width: 60%;
  align-content: center;
  
}
